.maincontent {
    text-align: -webkit-center;

}

#mainlogo {
    padding-top: 109px;
    padding-bottom: 10px;
}

.buttons {
    padding-top: 20px;
}

.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
    width: 600px;
    height: 45px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 30px;
    border-width: 1px;
}

.wrapper:hover {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

#search-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 14px;
    left: 20px;
    right: 50px;
    color: #9AA0A6;
}

#mic-icon {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 12px;
    right: 20px;
    cursor: pointer;

}

.wrapper .search {
    width: 85%;
    outline: none;
    border-style: none;
    font-size: 17px;
    margin-left: 50px;
    margin-right: 50px
}

button {
  background-color: #f2f2f2; 
  border: none;
  color: #5F6368;
  padding: 0px 16px;
  margin: 11px 4px;
  height: 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid #f2f2f2;
  font-family: arial,sans-serif;    
  font-size: 14px;
  border-radius: 4px;
  min-width: 54px;

}

.buttons button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif; 
    font-size: small;
    color: darkgray;
    text-decoration: none;
    width: 100%;
  }

a {
    text-decoration: none;
    color: black;
    padding-left: 15px;
    display: inline-block;
    margin: 0px;
}  

#sign-in {
    background-color: #4387fd;
    color: white;
    font-weight: bold;
    padding-top: 0px;
    margin: 0px;
    padding-left: 15px;
    cursor: pointer;
}



.navleft {
    display: inline-block;
    padding: 10px;
    align-items: center;
    float: left;
}
  


.navright {
    float: right;
    
}
   
#app-icon {
  vertical-align: middle;
}

footer {
   
    list-style-type: none;
    margin: 0;
    padding-top: 2px;
    font-family: arial,sans-serif; 
    font-size: small;
    color: darkgray;
    width: 100%;
    overflow: auto;
    height: 40px;
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    color:#5f6368;
    vertical-align: middle;
    border-top: 0.5px outset lightgray;
    margin-left: -9px;
    

}
.footer-left {
    display: inline-block;
    padding: 10px;
    align-items: center;
    float: left;
    color:#5f6368;
    
}

.footer-right {
    display: inline-block;
    padding: 10px;
    align-items: center;
    float: right;
    color:#5f6368;
    
}
    
